footer .container-fluid {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #35383a;
    color: #FEFEFE;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-left: 0px;
    font-size: 2em;
}
/* Font */
@font-family {
	font-style: 'Montserrat', sans-serif;
}

/* styling footer */
footer .heart {
	color: red;
}

footer li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-style: 'Montserrat', sans-serif;
    color: #FEFEFE;
}

footer a {
    color: #54b8ad;
}

.heart {
	color: red;
}

 footer .logo {
 	width: 40px;
 	height: 40px;
    margin-top: 15px;
 }

 footer .row {
     margin: 0;
 }
