/* Navbar */
header nav.navbar.navbar-default {
	background-color: #F5F5F5;
	color: #35383a;
    margin-bottom: 0;
}

.navbar-brand {
	margin-bottom: 0px;
}

.logo {
	width: 35px;
	height: 35px;
	position: absolute;
	transform: translate(0%, -25%);
}
/** End navbar **/


/* Font */
@font-face {
	font-family: 'Montserrat', sans-serif;
}

.navbar-default h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 2em;
	font-weight : bold;
	color: #54b8ad;
}

.navbar-default .navbar-nav>li>a {
	font-family: 'Montserrat', sans-serif;
	color: #54b8ad;
    font-size: 1.8em;
}

	/* Add info on h1 */
.titre {
	position: absolute;
	transform: translate(20%, -40%);
}
	/** End add info on h1 **/

@media all and (max-width: 959px) and (min-width: 600px) {
    .navbar-default h1{
        font-size: 4vw;
        transform: translate(30%, 0%);
    }
}

@media all and (max-width: 599px) and (min-width: 320px) {
	.navbar-default h1{
        font-size: 5vw;
        transform: translate(20%, 0%);
    }
}

