/**
 *  MAINS PROPERTIES FOR FONTS
 **/

/* Font family for the body and the titles */
body {
    font-family: 'Montserrat';
    font-size: 62.5%;
	background-color: #F5F5F5;
}

p {
    font-size: 2em;
}

/* Set font's color to blue for the titles and the links */
.blue {
    color: #54b8ad;
}

/* Set weight of the font */
.bold {
    font-weight: bold;
}


h1{
	color: #54b8ad;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
}

.row img{
	margin: 0 auto;
	padding-top: 1em;
	padding-bottom: 0.5em;
}

.row p{
	margin: 0 auto;
	padding-bottom: 0.5em;
	padding-top: 1em;
}



.carousel-inner img{
	width: 100%;
	overflow: hidden;
}

.carousel-caption{
	color: black;
	text-shadow: black 5px 3px 20px;
	font-family: 'Montserrat', sans-serif;
}

.outer {
	margin: auto;
	width: 0.05em;
	height: 20em;
	background-color: #f9a02e;
	position: relative;
	border-radius: 20em;
}
