/**
 * INDEX CSS file
 *
 * - Main properties -
 * - Weather Section -
 * - Carousel -
 * - Top 10 link - 
 **/

/* Font family for the body and the titles */
body {
    font-family: 'Montserrat';
    font-size: 62.5%;
	background-color: #F5F5F5;
}

p {
    font-size: 2em;
}

/* Set font's color to blue for the titles and the links */
.blue {
    color: #54b8ad;
}

/* Set weight of the font */
.bold {
    font-weight: bold;
}

/* Remove the margin and the padding of the .row */
.row {
    margin: 0;
    padding: 0;
}

.row p{
	margin: 0 auto;
	padding-bottom: 0.5em;
	padding-top: 1em;
}
/*
#presentation {
	margin: 0 auto;
	padding-bottom: 0.5em;
}*/

#presentation img{
	margin-bottom: -0.35em;
	margin-top: 0.75em;
}

#presentation p{
	margin-bottom: 0.75em;
}
#presentation{
	background-color: #FEFEFE;
}
h1{
	color: #54b8ad;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
}
#Top10Link .text-center{
	font-size: 2em;
}
.row img{
	margin: 0 auto;
	padding-top: 1em;
	padding-bottom: 0.5em;
	margin-bottom: 3em;
}

.text-center {
	font-size: 3em;
	margin-top: 2em;
}

/* Weather */
.weather img{
	margin: 0 auto;
	max-height: 300px;
	max-width: 480px;
}

#weather{
	margin-bottom: 5em;
}

.weather{
	text-align: center;
	font-size: 2.5em;
	color: #f9a02e;
}

.weather h4{
	color: #54b8ad;
}

/* Carrousel section */
.carousel-inner img{
	width: 100%;
	overflow: hidden;
	height: 100%;
}

.carousel-inner .grd{
	margin-top: -25em;
}

#slippers{
	margin-top: -15em;
}

.carousel-inner{
	overflow: hidden;
	max-height: 85vh;
	margin-bottom: 10em;
	width: 100%;
}

.carousel-caption{
	color: black;
	text-shadow: black 5px 3px 20px;
	font-family: 'Montserrat', sans-serif;
}

/* Wanted men */

.thumbnail {
	position: relative;
	background-color: #FEFEFE;
	height: 85em;
	padding-bottom: 0;
	margin-top: 5em;
}

.portraitDescription {
	background-color: #FEFEFE;
	color: #54b8ad;
	text-align: center;
	font-size: 1.5em;
}

.img-responsive {
	width: 100%;
}

.containerPortrait h1 {
	text-align: center;
	color: #f9a02e;
	font-size: 4em;
	transition: font-size 0.5s;
	transition: margin-top 0.5s;
}

/* Section top 10 link */
#Top10Link .btn-orange {
    background-color: #f9a02e;
    margin-top : 2vh;
    margin-bottom : 2vh;
    color: #FEFEFE;
}

#Top10Link .btn-orange a {
}

audio{
	visibility: hidden;
}
