/*
 * CSS file for the Top_10.php file
 */

/*
 * Structure of the CSS file
 *
 *  ** FONTS **
 *  * Fonts family (l. 13 - 16)
 *  * Fonts color (l. 18 - 21)
 */

/* Font family for the body and the titles */
body {
    font-family: 'Montserrat';
}

/* Set font's color to blue for the titles and the links */
.blue {
    color: #54b8ad;
}

/* Set weight of the font */
.bold {
    font-weight: bold;
}

