
/*Section guestbook*/

.guestbook {
	background-color: #f5f5f5;
}

blockquote p::after, blockquote p::before {
  content : '"';
  font-size: : 4em;
  color: #f9a02e;
}

cite {
	font-weight: bold;
}

button {
	background-color: #f9a02e;

}

h1 {
	color: #54b8ad;
}

/* Section form_wild_book */

section#form_wild_book div.row {
    margin-top: 15px; 
    margin-right: 0px;
    margin-left: 0px;
}
